@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

:root {
    --bg-date: #1A1A1A;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

.bg-container {
    background-image: url(../../images/bg-counterdown.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counterdown-wrapper {
    max-inline-size: 800px;
    display: flex;
}

.counterdown-wrapper div {
    margin-inline: 24px;
}

.date {
    display: inline-block;
    background-color: var(--bg-date);
    border-radius: 16px;
    padding: 32px 16px;
    font-size: 12rem;
    font-weight: 800;
}

p {
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
}